In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display

## Compare Part 1 raw data, Part 1 PCA, and Part 2

### Top 10 and Bottom 10 Results

In [4]:
part1_df = pd.read_csv('data/result_df_part1.csv')
pca_df = pd.read_csv('data/result_df_pca.csv')
racs_df = pd.read_csv('data/result_df_racs.csv')

In [71]:
def get_top_10_bottom_10_mse(df):
    top10 = df.nsmallest(10, 'mse') \
    .reset_index(drop=True)[['drug_id', 'mse']]
    top10 = top10.add_suffix('_top10')
    bottom10 = df.nlargest(10, 'mse') \
    .reset_index(drop=True)[['drug_id', 'mse']]
    bottom10 = bottom10.add_suffix('_bottom10')
    concat = pd.concat([top10, bottom10], axis=1)
    return concat

In [72]:
part1_mse = get_top_10_bottom_10_mse(part1_df)
pca_mse = get_top_10_bottom_10_mse(pca_df)
racs_mse = get_top_10_bottom_10_mse(racs_df)

In [74]:
display(part1_mse.head())
display(pca_mse.head())
display(racs_mse.head())

   drug_id_top10  mse_top10  drug_id_bottom10  mse_bottom10
0           1262   0.269010              1248      7.180334
1            266   0.291851               135      6.315710
2            150   0.301788               190      5.065923
3           1264   0.321767               268      4.938611
4             91   0.381167               346      4.889768

   drug_id_top10  mse_top10  drug_id_bottom10  mse_bottom10
0           1262   0.222263               135      6.373095
1            266   0.236688              1248      6.334078
2            150   0.256308               268      5.119414
3           1264   0.277344               346      4.779838
4             91   0.335878               190      4.731712

   drug_id_top10  mse_top10  drug_id_bottom10  mse_bottom10
0           1262   0.223508               135      6.376384
1            266   0.238326              1248      6.363803
2            150   0.257682               268      5.102002
3           1264   0.285128                 3      4.879453
4             91   0.332634               346      4.736399

In [75]:
part1_mse.to_csv('data/part1_mse.csv', index=False)
pca_mse.to_csv('data/pca_mse.csv', index=False)
racs_mse.to_csv('data/racs_mse.csv', index=False)

In [81]:
# save as latex for PDF report
with open('data/temp.txt', 'wt') as f:
    f.write(racs_mse.to_latex(index=False))